.MuiTypography-caption {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    font-size: 25px !important;
    color: #4B85FF !important;
}
.MuiCircularProgress-colorPrimary {
    width: 90px !important;
    height: 90px !important;
    /* color: asdasdad; */
}